---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import  {getTagsByCount } from '../../lib/tags'
import Tag from '../../components/Tag.astro';
import Posts from '../../components/Posts.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
const allTags = getTagsByCount(posts)
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="w-[960px]">
			<div class="flex justify-center items-start odd:items-end min-w-fit mx-4 mb-8 [&>span]:mb-1">
				{Array
				.from(allTags.entries())
				.sort(([,count1],[,count2]) => count2 > count1 ? 1 : -1)
				.map(([tag, count]) => <Tag selected name={tag} count={count} />)}
			</div>
			<section>
				<Posts data={posts} />
			</section>
		</main>
		<Footer />
	</body>
</html>
