---
interface Props {
  icon: string
  delay?: number
  animationDelay?: number
  classes?: string
  animationTime?: number
}

const { icon, classes = '', delay = 0, animationTime = 25 } = Astro.props

const backgroundImage = `url('/tech/${icon}')`
const animationDelay = `${delay}s`
const animationDuration = `${animationTime}s`
---

<div
  class={[
    `bg-[url('/tech/${icon}')]`,
    `animate-tech animation-delay-[${animationDelay}ms] animation-duration-[${animationTime}ms]`,
    classes
  ].join(' ')}
>
</div>
