---
import { getCollection } from 'astro:content'
import BaseHead from '../../../components/BaseHead.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../../../consts'
import Header from '../../../components/Header.astro'
import Footer from '../../../components/Footer.astro'
import Posts from '../../../components/Posts.astro'
import { getTagsByYear } from '../../../lib/tags'
import Tag from '../../../components/Tag.astro'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  const tags = getTagsByYear(posts)

  return tags
    .map(([name]) => name)
    .map((year) => ({
      params: { year },
      props: {
        allYears: tags,
        posts: posts
          .filter((post) => post.data.pubDate.getFullYear() == Number(year))
          .sort((post1, post2) =>
            post1.data.pubDate > post2.data.pubDate ? -1 : 1
          )
      }
    }))
}

const { allYears, posts } = Astro.props
const { year: yearParam } = Astro.params
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="w-[960px]">
      <div
        class="flex justify-center items-start flex-wrap odd:items-end min-w-fit mx-4 mb-4 [&>span]:mb-1"
      >
        {
          allYears.map(([year, count]) => (
            <Tag
              isYear
              secondary
              name={String(year)}
              count={count}
              selected={year === Number(yearParam)}
            />
          ))
        }
      </div>
      <hr class="mb-8" />
      <section>
        <Posts data={posts} />
      </section>
    </main>
    <Footer />
  </body>
</html>
